/* 메인 비주얼, 콘텐츠 */
.visual {
  position: relative;
}

.visual .swiper-container img {
  width: 100%;
  object-fit: cover;
}
.visual .swiper-slide .slogan {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.55);
}
.visual .swiper-slide .slogan .slogan__lg {
  font-size: 47px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 30px;
  letter-spacing: -0.02rem;
}
.visual .swiper-slide .slogan .slogan__lg .up {
  display: block;
}
.visual .swiper-slide .slogan .slogan__sm {
  font-size: 22px;
  font-weight: 500;
}
@media screen and (max-width: 480px )  {
  .visual .swiper-slide .slogan .slogan__lg {
    font-size: 42px;
    margin-bottom: 25px;
  }
  .visual .swiper-slide .slogan .slogan__sm {
    font-size: 18px;
  }
}
@media screen and (max-width: 400px )  {
  .visual .swiper-slide .slogan .slogan__lg {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .visual .swiper-slide .slogan .slogan__sm {
    font-size: 16px;
  }
}
.pagination1 {
  margin-bottom: 3%;
}
.pagination1 .swiper-pagination-bullet {
  width: 10%;
  height: 4px;
  border-radius: 0;
  background: #fff;
  opacity: 0.4;
}
.pagination1 .swiper-pagination-bullet-active {
  opacity: 1;
}

/* #content */
/* .sec1 */
#content .sec1 {
  padding: 100px 0;
}
#content .sec1 ul {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}
#content .sec1 li {
  width: 48%;
  border-radius: 12px;
  overflow: hidden;
}
#content .sec1 li:nth-child(even) {
  position: relative;
  bottom: -30px;
}
#content .sec1 li a {
  width: 100%;
  aspect-ratio: 1 / 1.5;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  position: relative;
}
#content .sec1 li:nth-of-type(1) a {
  background: url('../images/sec1_1.png');
  background-size: cover;
}
#content .sec1 li:nth-of-type(2) a {
  background: url('../images/sec1_2.png');
  background-size: cover;
}
#content .sec1 li:nth-of-type(3) a {
  background: url('../images/sec1_3.png');
  background-size: cover;
}
#content .sec1 li:nth-of-type(4) a {
  background: url('../images/sec1_4.png');
  background-size: cover;
}
#content .sec1 li a span {
  position: absolute;
  left: 10%;
  bottom: 5%;
}

/* .sec2 */
#content .sec2 {
  width: 100%;
  height: calc(770px / 2);
  background: #ddd;
  padding: 0;
  position: relative;
}
#content .sec2 h3 {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  z-index: 10;
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,.25);
}

#content .sec2 .swiper2 {
  width: 100%;
  height: 100%;
}
#content .sec2 .swiper-slide { 
}
#content .sec2 .swiper-slide:nth-of-type(1) {
  background: url('../images/master1.jpg') no-repeat center;
  background-size: cover;
  background-position: 60% 0;
}
#content .sec2 .swiper-slide:nth-of-type(2) {
  background: url('../images/master2.jpg') no-repeat center;
  background-size: cover;
  background-position: 40% 0;
}
#content .sec2 .swiper-slide:nth-of-type(3) {
  background: url('../images/master3.jpg') no-repeat center;
  background-size: cover;
  background-position: 60% 0;
}
#content .sec2 .swiper-slide:nth-of-type(4) {
  background: url('../images/master4.jpg') no-repeat center;
  background-size: cover;
  background-position: 30% 0;
}
#content .sec2 .swiper-slide:nth-of-type(5) {
  background: url('../images/master5.jpg') no-repeat center;
  background-size: cover;
  background-position: 50% 0;
}
#content .sec2 .swiper-slide .txt_wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 10%;
  bottom: 12.5%;
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,.25);
}
#content .sec2 .swiper-slide .txt_wrap .title {
  order: 1;
  font-size: 2.35rem;
  font-weight: 700;
}
#content .sec2 .swiper-slide .txt_wrap .description {
  order: 0;
  font-size: 1rem;
}

.pagination2 .swiper-pagination-bullet {
  width: 7%;
  height: 3px;
  border-radius: 0;
  background: #fff;
  opacity: 0.4;
}
.pagination2 .swiper-pagination-bullet-active {
  opacity: 1;
}

/* .sec3 */
#content .sec3 {
  padding-bottom: 0;
}
#content .sec3 h3 {
  margin-bottom: 20px;
}
#content .sec3 .swiper3 {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0 100px;
}
#content .sec3 .swiper3 .swiper-slide {
  width: 100%;
  aspect-ratio: 16 / 10.4;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,.45);
}
#content .sec3 .swiper3 .swiper-slide a {
}
#content .sec3 .swiper3 .swiper-slide a .img_wrap {
  width: 100%;
  aspect-ratio: 16 / 6.785;
  overflow: hidden;
}
#content .sec3 .swiper3 .swiper-slide a .img_wrap img {
  width: 100%;
}
#content .sec3 .swiper3 .swiper-slide a .award_txt {
  width: 100%;
  aspect-ratio: 16 / 3.615;
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#content .sec3 .swiper3 .swiper-slide a .award_txt dt {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
  letter-spacing: -0.09rem;
  position: absolute;
  left: 5%;
}
#content .sec3 .swiper3 .swiper-slide a .award_txt dt span.title {
  display: block;
}
#content .sec3 .swiper3 .swiper-slide a .award_txt dd {
  text-align: right;
  padding-right: 5%;
}
#content .sec3 .swiper3 .swiper-slide a .award_txt .award_institution {
  font-size: 1rem;
  font-weight: 300;
  color: #666;
}
#content .sec3 .swiper3 .swiper-slide a .award_txt .date {
  font-size: .8rem;
  font-weight: 200;
  color: #999;
}