/* 메인 비주얼, 콘텐츠 */
.visual {
  position: relative;
}

.visual .swiper-container img {
  width: 100%;
  object-fit: cover;
}
.visual .swiper-slide .slogan {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.55);
}
.visual .swiper-slide .slogan .slogan__lg {
  font-size: 47px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 30px;
  letter-spacing: -0.02rem;
}
.visual .swiper-slide .slogan .slogan__lg .up {
  display: block;
}
.visual .swiper-slide .slogan .slogan__sm {
  font-size: 22px;
  font-weight: 500;
}
@media screen and (max-width: 480px )  {
  .visual .swiper-slide .slogan .slogan__lg {
    font-size: 42px;
    margin-bottom: 25px;
  }
  .visual .swiper-slide .slogan .slogan__sm {
    font-size: 18px;
  }
}
@media screen and (max-width: 400px )  {
  .visual .swiper-slide .slogan .slogan__lg {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .visual .swiper-slide .slogan .slogan__sm {
    font-size: 16px;
  }
}
.pagination1 {
  margin-bottom: 3%;
}
.pagination1 .swiper-pagination-bullet {
  width: 10%;
  height: 4px;
  border-radius: 0;
  background: #fff;
  opacity: 0.4;
}
.pagination1 .swiper-pagination-bullet-active {
  opacity: 1;
}

/* #content */
/* .sec1 */
#content .sec1 {
  padding: 100px 0;
}
#content .sec1 ul {
  width: 78.125%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
#content .sec1 li {
  width: 47%;
  border-radius: 30px;
  overflow: hidden;
}
#content .sec1 li:nth-child(even) {
  transform: translateY(10%);
}
#content .sec1 li a {
  width: 100%;
  aspect-ratio: 1 / 1.5;
  font-size: 1.71rem;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  position: relative;
}
#content .sec1 li:nth-of-type(1) a {
  background: url('../images/sec1_1.png');
  background-size: cover;
}
#content .sec1 li:nth-of-type(2) a {
  background: url('../images/sec1_2.png');
  background-size: cover;
}
#content .sec1 li:nth-of-type(3) a {
  background: url('../images/sec1_3.png');
  background-size: cover;
}
#content .sec1 li:nth-of-type(4) a {
  background: url('../images/sec1_4.png');
  background-size: cover;
}
#content .sec1 li a span {
  position: absolute;
  left: 30px;
  bottom: 30px;
}
@media screen and (max-width: 530px) {
  #content .sec1 li a {
    font-size: 1.71rem;
  }
}
@media screen and (max-width: 480px) {
  #content .sec1 ul {
    gap: 12px;
  }
  #content .sec1 li a {
    font-size: 1.51rem;
  }
}
@media screen and (max-width: 400px) {
  #content .sec1 ul {
    gap: 20px;
  }
  #content .sec1 li {
    width: 100%;
  }
  #content .sec1 li:nth-child(even) {
    transform: translateY(0);
  }
  #content .sec1 li a {
    width: 100%;
    aspect-ratio: 1 / 1.618;
    font-size: 2rem;
  }
}