/* .visual */
.visual {
  width: 100%;
  height: 200px;
  background: url("../images/sub2_visual.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  left: 0;
  top: 0;
}
.visual span {
  font-size: 1.3rem;
  font-weight: 300;
  color: #fff;
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  top: 50%;
}


/* .sub_nav (.swiper1) */
.sub_nav.swiper-container.swiper1 {
  width: 100%;
}
.sub_nav li.swiper-slide {
  text-align: center;
  position: relative;
}
.sub_nav li a {
  font-size: 1rem;
  color: #666;
  line-height: 55px;
  &.current {
    color: #f65742;
    font-weight: 500;
  }
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #f65742;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
  }
  &.current::after {
    opacity: 1;
  }
}




/* #content */
#content {
  width: 100%;
  margin: 0 auto;
}
#content section {
  padding: 0;
}

/* .intro */
#content .content_area .intro {
  width: 100%;
  position: relative;
  img {
    width: 100%;
    filter: brightness(.6);
  }
  .intro__title_container {
    width: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 4px 10px rgba(0,0,0,.7);
  }
  .intro__title {
    text-align: center;
    color: #fff;
    .business {
      display: block;
      margin-bottom: 2.5%;
    }
    h3 {
      font-size: 2rem;
      font-weight: 600;
      color: #fff;
      margin-bottom: 10%;
    }
    .slogan {
      font-size: 1.1rem;
      font-weight: 200;
      line-height: 1.5;
      letter-spacing: -0.085rem;
      margin-bottom: 30px;
      span {
        display: block;
        margin-bottom: 5%;
      }
    }
    .sector {
      &::before {
        content: '';
        display: block;
        width: 25%;
        height: 1px;
        background: rgba(255,255,255,.7);
        margin: 0 auto 30px;
      }
    }
  }
}




